.shows
{
    width: 100%;
    /* height: 400px; */
    background-color: #060707;
    padding: 10px 2%;
}

.showsParent
{
    width: 100%;
    /* background-color: red; */
    padding: 12px 0px;
    display: flex;
    column-gap: 8px;

}

