.featured
{
    width: 100%;
    background-color: #060707;
    padding: 10px 2%;
}

.shows
{
    width: 100%;
    height: auto;
    /* background-color: red; */
    padding: 16px 0px;
    display: flex;
    column-gap: 11px;
    align-items: stretch;
}




